.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        align-items: flex-end;
    }

    .dark-mode-boton{
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%);

        &:hover{
            cursor: pointer;
        }

        @include tablet{
            margin-top: 0rem;
        }
    }
}

.barra{
    display: flex;
    flex-direction: column; /*colocar de abajo hacia arriba*/
    align-items: center;
    
    padding-top: 3rem;
    @include tablet{
        flex-direction:row;
        justify-content: space-between; /*envia contenido lado izq y derecho*/
        align-items: flex-end;
    }   
}

.navegacion{

   visibility: hidden;
   opacity: 0;
   transition: visibility .3s ease-in-out, opacity 0.5s linear;

    @include tablet{
        display: flex;  
        align-items: center; /*alinear logo y nav*/
        opacity: 1;
        visibility: visible;
    }

    a{
        color: $blanco;
        font-size: 2.2rem;
        text-decoration:none;
        display: block;    
        text-align: center;
        font-size: 1.8rem;
 
        @include tablet{
            margin-right: 2rem;  /*separar iconos nav*/

            &:last-of-type{
                margin-right: 0;  /*eliminar margen*/
            }
        }
    }
}

/*Menu de hamburguesa*/

.mobile-menu{
    @include tablet{
        display: none;
    }

    img{
        width: 5rem;
    }
}

.mostrar{
   visibility: visible;
   opacity: 1;
}

